body {
  background-color: #eeeeee;
  color: #030303;
  margin: 20;
  padding: 5;
}

.header {
  padding: 15px;
}

.content {
  background-color: rgb(255, 50, 255);
  font-size: 18px;
  color: #eeeeee;
  display: flex;
  padding: 15px;
}

p {
  margin: 15px;
}

#content-image {
  max-width: 350px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  border: 120px;
  padding: 120px;
}
